* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
  list-style: none;
}

body {
  padding: 20px;
}

.vc_container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  border: #eee 1px solid;
}

.vc_container .vc_categories {
  width: 100%;
  border-right: #eee 1px solid;
  padding: 10px;
}

.vc_container .vc_categories .vc_category_list {
  width: 100%;
  padding: 15px;
  background-color: #f2f2f2;
}

.vc_container .vc_categories .vc_category_list li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.vc_container .vc_categories .vc_category_list li .heading_area .invisible_area {
  display: none;
  color: #3184f9;
  font-size: 12px;
}

.vc_container .vc_categories .vc_category_list li .heading_area .invisible_area span {
  font-weight: normal;
}

.vc_container .vc_categories .vc_category_list li .heading_area .invisible_area.select {
  display: block;
}

.vc_container .vc_categories .vc_category_list li.active {
  background-color: #fff;
}

.vc_container .vc_categories .vc_category_list li.active .icon_back {
  background-color: #3184f9;
}

.vc_container .vc_categories .vc_category_list li.active .icon_back img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.vc_container .vc_categories .vc_category_list li .icon_back {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  background-color: #f2f2f2;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vc_container .vc_categories .vc_category_list li .icon_back img {
  width: 75%;
}

.vc_container .vc_categories_item_list {
  width: 100%;
}

.vc_container .vc_categories_item_list .vc_list_area {
  width: 100%;
  height: 498px;
  background-color: #fff;
  overflow: auto;
}

.vc_container .vc_categories_item_list .vc_item_area {
  width: 100%;
  display: none;
}

.vc_container .vc_categories_item_list .vc_item_area.active {
  display: block;
}

.vc_container .vc_categories_item_list .vc_item_list {
  width: 100%;
}

.vc_container .vc_categories_item_list .vc_item_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
  font-size: 16px;
  padding: 15px;
  border-bottom: #eee 1px solid;
}

.vc_container .vc_categories_item_list .vc_item_list li .item_value1, .vc_container .vc_categories_item_list .vc_item_list li .item_value2 {
  display: none;
}

.vc_container .vc_categories_item_list .vc_item_list li .vc_action_area {
  width: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vc_container .vc_categories_item_list .vc_item_list li .vc_action_area input[type="text"] {
  width: 45px;
  padding: 1px 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  color: #000083;
  text-align: center;
  font-weight: bold;
}

.vc_container .vc_categories_item_list .vc_item_list li .vc_action_area button {
  border-radius: 5px;
  text-align: center;
  background: #3184F9;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  border: none;
  outline-style: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vc_container .vc_categories_item_list .vc_item_list li .vc_action_area button img {
  width: 50%;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

@media only screen and (max-width: 500px) {
  .vc_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */